<app-header
  [contentId]="'perfil-container'"
  [menuId]="'menuPerfil'"
></app-header>
<ion-content [fullscreen]="true" id="perfil-container">
  <div class="main-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información de Usuario</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Nombre de Usuario</ion-label>
          <ion-input readonly value="{{ userStorage.username }}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Correo Electrónico</ion-label>
          <ion-input readonly value="{{ userStorage.email }}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Sede</ion-label>
          <ion-input readonly value="{{ userStorage.sede }}"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" color="primary">Editar Perfil</ion-button>
  </div>
</ion-content>
