<ion-header>
  <ion-toolbar>
    <!-- Botón de regreso con flecha -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" class="content-recu">
    <!-- Contenido principal -->
    <div class="content">
      <div class="item-content">
        <ion-text>
          Por favor, ingrese su correo para restablecer la contraseña.
        </ion-text>
      </div>
      <div class="form-above item-content">
        <ion-input 
          type="email" 
          class="form-input custom-font" 
          label="Correo Electronico" 
          labelPlacement="floating" 
          fill="outline"
          shape="round" 
          placeholder="Ingrese correo electronico">
        </ion-input>
      </div>
      <div class="form-below custom-font item-content">
        <ion-button [routerLink]="['/notificacion']" class="button" shape="round" strong="true">
          Enviar
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
