<ion-content class="ion-padding ion-text-center">
  <!-- Segments -->
  <ion-segment [(ngModel)]="segment" mode="ios">
    <ion-segment-button value="scan">
      <ion-label>Scan QR</ion-label>
    </ion-segment-button>
    <ion-segment-button value="adjunt">
      <ion-label>Adjuntar QR</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Scan QR -->
  <div class="segment" *ngIf="segment == 'scan'">
    <div class="segment-content">
      Scan
      <div class="d-flex-center">
        <div class="d-flex-center qr-wrapper"></div>
      </div>
      <ion-row>
        <ion-col size="6">
          <ion-button class="submit" expand="block"> Escanear 
            <ion-icon slot="end" name="scan-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <!-- Adjuntar QR -->
  <div class="segment" *ngIf="segment == 'adjunt'">
    <div class="segment-content">
      <img src="assets/icon/AdjuntQR.png" alt="" />
    </div>
    <div class="d-flex-center">
      <ion-row>
        <ion-col size="6">
          <ion-button class="submit" expand="block"> Adjuntar QR </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
