<ion-list>
    <ion-item>
      <ion-label>Programacion ------------- 10/10 ------ 100%</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Base de datos ------------- 10/10 ------ 100%</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Calidad de software ------ 10/10 ------ 100%</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Antropologia ---------------- 10/10 ------ 100%</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ingles ------------------------- 10/10 ------ 100%</ion-label>
    </ion-item>
  </ion-list>