.content{
    margin: 25px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 15px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    border: 2px solid rgb(0, 0, 0); /* Borde blanco */
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }

.content img{
    width: 80px;
}

#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
  }
  