.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 16px;
}

.animated-image {
  width: 150px;
  height: auto;
  opacity: 0; 
}

ion-card {
  border-radius:  10px;
}

ion-card .card-form ion-input {
  margin-top: 15px;
  margin-bottom: 10px;
}
  
.card-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}   

.form-input{
  --highlight-color-valid: #79baff;
}

.bold-blue {
  color: blue;
}


