<ion-header>
  <ion-toolbar>
    <ion-title class="custom-font" style="text-align: center;">
      RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Imagen centrada con animación -->
  <div class="image-container">
    <img #animatedImage class="animated-image" src="assets/IMG/shoukomlem.png" alt="Imagen animada" />
  </div>

  <div id="container">
    <!-- formulario de ingreso -->
    <div class="form-ingreso">
      <div style="padding: 15px;" class="form-above">
        <ion-input 
          [(ngModel)]="user.username"
          id="username"
          type="text"
          class="form-input custom-font"
          label="Usuario"
          labelPlacement="floating"
          fill="outline"
          shape="round"
          placeholder="Ingrese su usuario"
        ></ion-input>
        <ion-input 
          [(ngModel)]="user.password"
          id="password"
          type="password"
          class="form-input custom-font"
          label="Contraseña"
          labelPlacement="floating"
          fill="outline"
          shape="round"
          placeholder="Ingrese su contraseña"
        ></ion-input>
      </div>
      <div class="form-below custom-font">
        <ion-text [routerLink]="['/recuperar']" style="display: block; margin-bottom: 10px;">
          ¿Has olvidado tu contraseña?
        </ion-text>

        <div *ngIf="errorMsg" class="error-msg">
          <ion-text color="danger">{{ errorMsg }}</ion-text>
        </div>

        <!-- Agregado un contenedor para forzar el botón a estar debajo -->
        <div style="display: block; width: 50%; margin: 0 auto;">
          <ion-button
            (click)="validarLogin()"
            class="button"
            shape="round"
            strong="true"
            expand="block"
          >
            Ingresar
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
