.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }

  .welcome-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .welcome-content h1 {
    margin-bottom: 2rem;
  }
  
  /* Estilos para los botones del menú */
  .menu-button {
    background-color: transparent;
    font-size: 1.3rem;
    cursor: pointer;
  }
  
  /* Estilo del avatar */
  .avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  ol {
    list-style-type: none;
    padding: 10px;
  }
  
  .tableStyle{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  }

  .tableStyle th, td{
    padding: 9px;
  }

  .theadStyle{
    background-color: #012C56;
    border-radius: 15px;
  }

  .tbodyStyle{
    color: black;
  }